html, body {
	background-color: lightgray;
	color: black;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	font-family: monospace;
	overflow: hidden;
	position: relative;
}

label {
	display: block;
	margin: 30px 0 0 0;
}

.hidden {
	display: none;
}

#preloader {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.8;
	background-image: url(images/preloader.gif);
	background-position: center;
	background-repeat: no-repeat;
}
#preloader .stat {
	position: absolute;
	text-align: center;
	top: calc(50% + 150px);
	left: 0;
	width: 100%;
	background: transparent;
	color: #cbeff5;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #97ddea;
  border: 1px solid #cbeff5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1e8fa4;
}
::-webkit-scrollbar-thumb:active {
  background: #0d3c44;
}
::-webkit-scrollbar-track {
  background: #265150;
  border: 1px solid #95dfec;
  border-radius: 10px;
}
::-webkit-scrollbar-track:hover {
  background: #23b0c9;
}
::-webkit-scrollbar-track:active {
  background: #58d6d2;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


.emu-toolbar {
	width: 100%;
	height: 64px;
	color: white;
	border-bottom: 1px solid #666666;
	padding: 0;
	margin: 0;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	
	background: #00989d;
	background: -moz-linear-gradient(left, #00989d 0%, #149c9e 51%, #2bb1b3 68%, #25b3b8 84%, #25b3b8 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #00989d), color-stop(51%, #149c9e), color-stop(68%, #2bb1b3), color-stop(84%, #25b3b8), color-stop(100%, #25b3b8));
	background: -webkit-linear-gradient(left, #00989d 0%, #149c9e 51%, #2bb1b3 68%, #25b3b8 84%, #25b3b8 100%);
	background: -o-linear-gradient(left, #00989d 0%, #149c9e 51%, #2bb1b3 68%, #25b3b8 84%, #25b3b8 100%);
	background: -ms-linear-gradient(left, #00989d 0%, #149c9e 51%, #2bb1b3 68%, #25b3b8 84%, #25b3b8 100%);
	background: linear-gradient(to right, #00989d 0%, #149c9e 51%, #2bb1b3 68%, #25b3b8 84%, #25b3b8 100%);
	
	-webkit-box-shadow: 0px -15px 15px 17px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -15px 15px 17px rgba(0,0,0,0.75);
	box-shadow: 0px -15px 15px 17px rgba(0,0,0,0.75);
	
}

.emu-button {
	display: block;
	float: left;
	padding: 0;
	margin: 9px;
	width: 42px;
	height: 42px;
    background-size: contain;
    background-repeat: no-repeat;
	list-style-type: none;
	opacity: 0.8;
	cursor: pointer;
}

.emu-button:hover {
	opacity: 1;
}

.emu-button:active {
	opacity: 0.5;
}

.dnd-container {
	width: 100%;
	height: calc(100% - 86px);
	top: 65px;
	overflow: auto;
	background-color: gray;
	position: relative;
	-webkit-box-shadow: inset 0px 0px 250px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 0px 250px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0px 0px 250px 0px rgba(0,0,0,0.3);
}

.dnd-box {
	min-width: 50px;
	min-height: 100px;
	overflow: hidden;
	border: 1px solid gray;
	float: left;
	background-color: lightgray;
	position: absolute;
	-webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.6);
	background: #ffffff;
	background: -moz-linear-gradient(-45deg, #ffffff 0%, #f6f6f6 52%, #f2f2f2 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffffff), color-stop(52%, #f6f6f6), color-stop(100%, #f2f2f2));
	background: -webkit-linear-gradient(-45deg, #ffffff 0%, #f6f6f6 52%, #f2f2f2 100%);
	background: -o-linear-gradient(-45deg, #ffffff 0%, #f6f6f6 52%, #f2f2f2 100%);
	background: -ms-linear-gradient(-45deg, #ffffff 0%, #f6f6f6 52%, #f2f2f2 100%);
	background: linear-gradient(135deg, #ffffff 0%, #f6f6f6 52%, #f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=1 );
}

.dnd-title {
	font-family: verdana;
	white-space: nowrap;
	color: white;
	cursor: move;
	padding: 5px 10px;
	font-size: small;
	background: #00989d;
	background: -moz-linear-gradient(left, #00989d 0%, #149c9e 51%, #2bb1b3 68%, #25b3b8 84%, #25b3b8 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #00989d), color-stop(51%, #149c9e), color-stop(68%, #2bb1b3), color-stop(84%, #25b3b8), color-stop(100%, #25b3b8));
	background: -webkit-linear-gradient(left, #00989d 0%, #149c9e 51%, #2bb1b3 68%, #25b3b8 84%, #25b3b8 100%);
	background: -o-linear-gradient(left, #00989d 0%, #149c9e 51%, #2bb1b3 68%, #25b3b8 84%, #25b3b8 100%);
	background: -ms-linear-gradient(left, #00989d 0%, #149c9e 51%, #2bb1b3 68%, #25b3b8 84%, #25b3b8 100%);
	background: linear-gradient(to right, #00989d 0%, #149c9e 51%, #2bb1b3 68%, #25b3b8 84%, #25b3b8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00989d', endColorstr='#25b3b8', GradientType=1 );
	-webkit-box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.75);
}
.dnd-title .btns {
	position: absolute;
    top: 0;
    right: 0;
}
.dnd-title .btns button {
	margin: 2px;
}

.dnd-contents {
	max-width: 100%;
	max-height: calc(100% - 36px);
	overflow: auto;
	background-color: transparent;
	color: black;
	padding: 5px 10px;
	position: relative;
	height: 100%;
	-webkit-box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
}


.emu-stat {
	position: absolute;
	bottom: 0;
	height: 20px;
	background-color: black;
	color: lightblue;
	border-top: 1px solid gray;
	width: 100%;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;    
	unicode-bidi: embed;
    /* white-space: pre; */
}
