html, body {
	background-color: lightgray;
	color: black;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	font-family: monospace;
}

.dnd-container {
	width: 95%;
	height: 95%;
	overflow: scroll;
	border: 1px solid #00979D;	
	background-color: gray;
	position: relative;
	
	-webkit-box-shadow: inset 0px 0px 250px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 0px 250px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0px 0px 250px 0px rgba(0,0,0,0.3);	
}

.dnd-box {
	width: 300px;
	height: 300px;
	overflow: hidden;
	border: 1px solid gray;
	float: left;
	position: absolute;
	background-color: lightgray;
	
	-webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.6);

	background: #ffffff;
	background: -moz-linear-gradient(-45deg, #ffffff 0%, #f6f6f6 52%, #f2f2f2 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffffff), color-stop(52%, #f6f6f6), color-stop(100%, #f2f2f2));
	background: -webkit-linear-gradient(-45deg, #ffffff 0%, #f6f6f6 52%, #f2f2f2 100%);
	background: -o-linear-gradient(-45deg, #ffffff 0%, #f6f6f6 52%, #f2f2f2 100%);
	background: -ms-linear-gradient(-45deg, #ffffff 0%, #f6f6f6 52%, #f2f2f2 100%);
	background: linear-gradient(135deg, #ffffff 0%, #f6f6f6 52%, #f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=1 );	
}

.dnd-title {
	font-family: verdana;
	background-color: #00979D;
    color: white;
	cursor: move;
	padding: 5px 10px;
    font-size: small;

	background: #00989d;
	background: -moz-linear-gradient(left, #00989d 0%, #149c9e 51%, #2bb1b3 68%, #25b3b8 84%, #25b3b8 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #00989d), color-stop(51%, #149c9e), color-stop(68%, #2bb1b3), color-stop(84%, #25b3b8), color-stop(100%, #25b3b8));
	background: -webkit-linear-gradient(left, #00989d 0%, #149c9e 51%, #2bb1b3 68%, #25b3b8 84%, #25b3b8 100%);
	background: -o-linear-gradient(left, #00989d 0%, #149c9e 51%, #2bb1b3 68%, #25b3b8 84%, #25b3b8 100%);
	background: -ms-linear-gradient(left, #00989d 0%, #149c9e 51%, #2bb1b3 68%, #25b3b8 84%, #25b3b8 100%);
	background: linear-gradient(to right, #00989d 0%, #149c9e 51%, #2bb1b3 68%, #25b3b8 84%, #25b3b8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00989d', endColorstr='#25b3b8', GradientType=1 );
}

.dnd-contents {
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	background-color: transparent;
    color: black;
	padding: 5px 10px;
	
}